<% if(current_user) %>
<% 	@stan = current_user.stan_konta.to_i %>
<% else %>
<%  @stan = 0 %>
<% end %>

<!-- header //-->

<script>
match_list = function(param) {
	$('#body_doc').html('<br/><br/><center><img src="http://www.mothersrecipe.com/Scripts/Loading/loading.gif" /></center>');
	$('#body_doc').load('/start/lista?league='+param);
}

add_match = function(typ, id, name, multiple) {
	$('#kuponik').load('/start/getkupon?act=add&name='+name+'&match='+id+'&typ='+typ+'&multiple='+multiple);
}

remove_match = function(id) {
	$('#kuponik').load('/start/getkupon?act=rem&match='+id);
}

kupon = function() {
	$('#kuponik').load('/start/getkupon');
}

akceptuj_kupon = function() {
	stawka = document.getElementById("stawka").value;
	if(stawka > 0 && stawka < <%= @stan %>) { $('#kuponik').load('/start/getkupon?act=akt&stawka='+stawka); }
	else alert("Zla stawka!");
}
</script>

<center> 
  <table cellspacing=0 cellpadding=0 width=750 height=1000px align=center>
   <tr><td valign=top>
    <table cellspacing=0 cellpadding=0>
     <tr><td width="232px"><%= link_to (image_tag "logobi.png", :alt => "logo"), root_path %></td>
	 <td width=518 valign=top>
      <table cellspacing=0 cellpadding=0>
       <tr><td height=25></td></tr>
        <tr><td class=ml1><span style="padding-left: 47px"></span><%= link_to "Strona główna", root_path %><span class=ch1></span>::<span class=ch1></span><a href="http://livescore.com">Wyniki na żywo</a><span class=ch1></span>::<span class=ch1></span><a href="/start/xmlgenerate/">Generuj Statystyki</a><span class=ch1></span>::
		<span class=ch1></span>
		<% if !(current_user) %>
			<%= link_to "Rejestracja", new_account_path %>
			<span class=ch1></span>::<span class=ch1></span>
			<%= link_to "Zaloguj", login_path %>
		<% else %>
			<%= link_to "Moje konto", new_account_path %>
			<span class=ch1></span>::<span class=ch1></span>
			<%= link_to "Wyloguj", logout_path %>
		<% end %>
	   </td></tr>

       <tr><td height=27></td></tr>
       <tr><td>
        <table cellspacing=0 cellpadding=0>
         <tr><td width=518 valign=top><div style="text-align:right"><script language="javascript" src="http://media.expekt.com/affiliates/ad.aspx?pid=46577&bid=6840"></script></div></td></tr>
        </table>  
       </td></tr>
      </table>
     </td></tr>
     <tr><td width=232 valign=top>
      <table cellspacing=0 cellpadding=0>
		<tr><td >
        <table cellspacing=0 cellpadding=0 width=240 height=92>
         <tr><td width=88 valign="middle"><%= image_tag "icons/arrow.png", :alt => "arrow", :size => "75x75" %></td>
		 <td valign="middle"><span class=ch4><b>Dane konta</b></span><br>
		 <% if(current_user) %>
			<span class="ch5">&bull; Twój login: </span> <span class=ml3><%= current_user.username %></span><br>
			<span class="ch5">&bull; Dane osobowe: </span> <span class=ml3><%= current_user.imie_nazwisko %></span><br>
			<span class="ch5">&bull; E-mail: </span> <span class=ml3><%= current_user.email %></span><br>
			<span class="ch5">&bull; Stan konta: </span> <span class=ml3><%= current_user.stan_konta %> &euro;</span><br>
		<% else %>
			<span class="ch5"> Musisz się zalogować, by zobaczyć swoje dane! </span>
		<% end %>
		</td>
		</tr>
        </table> 
       </td></tr>
		<tr><td >
        <table cellspacing=0 cellpadding=0 width=230 height=92>
         <tr><td width=88 valign="middle"><%= image_tag "icons/arrow.png", :alt => "arrow", :size => "75x75" %></td>
         <td valign="middle"><span class=ch4><b>Koszyk zakładów</b></span><br>
		 <% if(current_user) %>
			<span class="ch5">Aktuanie <span style="font-size: 10px; color:orange"><%= @event_count %></span> zakład/y/ów</span><br/>
			<span class="ch5">Liczba kuponów <span style="font-size: 10px; color:orange"><%= @coupon_count %></span></span><br/>
			<span style="font-size: 10px; color:orange"><a href="#">Przejdź do kuponu</a></span>
		<% else %>
			<span class="ch5">Musisz się zalogować, aby zarządzać kuponem!</span>
		<% end %>
		</td></tr>

        </table> 
       </td></tr>
       <tr><td >
        <table cellspacing=0 cellpadding=0 width=230 height=92>
         <tr><td width=88 valign=middle><%= image_tag "icons/arrow.png", :alt => "arrow", :size => "75x75" %></td>
         <td valign="middle"><span class=ch4><b>TOP 5</b></span><br>
		 <% @usr.each do |row| %>
			<span class="ch5"><%= row.username %></span> <span class=ml3> <%= row.stan_konta %> &euro;</span><br>
		<% end %>
		</td></tr>
        </table> 
       </td></tr>
	   <tr style="width:2px"><td>&nbsp;</td></tr>
      </table>
     </td>
     <td width=518 style="background-image:url(../images/stadium.jpg);" valign=top>
		<p class="ch18"><b>NAJBLIŻSZE ZAKŁADY</b></p>
		<p style="text-align:left;">
		<!-- start -->
			<% @match_t.each do |row| %>
			<table style="margin-left:15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17"><%= row['game']['time'] %></span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a href="#"><%= row['game']['description'] %></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a onclick="add_match(1, <%= row['game']['id'] %>, '<%= (row['game']['description'].strip).gsub(' ', '%20') %>', <%= row['game']['alt1'] %>)"><%= row['game']['alt1'] %></a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a onclick="add_match(0, <%= row['game']['id'] %>, '<%= (row['game']['description'].strip).gsub(' ', '%20') %>', <%= row['game']['altx'] %>)"><%= row['game']['altx'] %></a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a onclick="add_match(2, <%= row['game']['id'] %>, '<%= (row['game']['description'].strip).gsub(' ', '%20') %>', <%= row['game']['alt2'] %>)"><%= row['game']['alt2'] %></a></span>
						</div>
					</td>
				</tr>			
			</table>
			<% end %>
			<!-- koniec -->
		</p>
	 </td></tr>
     
    </table> 
   </td></tr>   
   <tr><td height=100% valign=top>
    <table cellspacing=0 cellpadding=0 width=750>  
     <tr><td width=230 style="padding-right: 3px" valign=top>

      <table cellspacing=0 cellpadding=0 width=240>
       <tr><td bgcolor=#B35A00 height=28><span style="padding-left: 19px"></span><span class=ch6>Kategorie zakładów</span></td></tr>
       <tr><td bgcolor=#282828 style="padding-left: 3px; padding-top: 3px;">
	   <script language="javascript" src="http://media.expekt.com/affiliates/ad.aspx?pid=46577&bid=6537"></script>
       </td></tr>
	   <tr><td bgcolor=#282828 style="padding-left: 30px"> 
		<table cellspacing=0 cellpadding=0>
         <tr><td height=7></td></tr>
		 <tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
		 
			<!-- Kategorie lewo start -->
			<% @rows.each do |x| %>
			<tr>
				<td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
				<td width=1 bgcolor=#525252></td>
				<td width=160><span class=ch7></span><a onclick="match_list('<%= x.gsub(' ','%20') %>')" class="ml4"><%= x %></a></td>
			</tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<% end %>
			<!-- Kategorie lewo koniec -->
			
         <tr><td height=16></td></tr>
        </table>  
       </td></tr>
       <tr><td height=3></td></tr>
      </table> 
     </td>
     <td width=518 valign=top>
	 
<!-- header_eof //-->

<!-- body //-->
<div id="body_doc">
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
<!-- body_text //-->


    <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>

        <td>



      <table cellspacing=0 cellpadding=0 style="margin-left:15px" width=518>
      <tr><td width=518 bgcolor=#595736 height=28><span style="padding-left: 20px"></span><span class=ch11>AKTUALNOŚCI</span></td></tr>
      <tr><td height=15></td></tr>
	  </table>
	  <table cellspacing=0 cellpadding=0 width=528>
       <tr>



     <!-- new_products //-->
		<td width=248 style="margin-left:10px" valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name"> KIM JESTEŚMY?</a></td></tr>

           <tr><td colspan=2><a class="ml7">Zasady gry po krótce</a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr>
           <td width=215 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55>Witamy i oferujemy Państwu <strong>darmową</strong> zabawę w typowanie wyników meczy. Cel gry jest prosty - wystarczy zwielokrotnić wirtualne 5000&euro; otrzymane od nas przy rejestracji. Pod koniec każdego miesiąca osoby z największym stanem konta zostaną nagrodzone! <span style="color:white"><%= link_to "Rejestracja", new_account_path %></span></a></td></tr> 
             <tr><td height=8></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>

             <tr>
				<td style="padding-left: 5px; padding-right: 5px;"><span class="ch19"><%= image_tag "icons/info.png", :alt => "info", :size => "9x9" %><a href="/zasady-gry/"> Poznaj też: Szczegółowe zasady gry </a></span></td>
			 </tr>
            </table>
           </td></tr>
          </table>
         </td>
        <td width=1 bgcolor=#585858></td>

         <td width=248 valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name">CO ZYSKUJESZ?</a></td></tr>

           <tr><td colspan=2><a class="ml7"> Nagrody tej edycji konkursu</a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr><td width=67 style="padding-left: 4px"><%= image_tag "icons/ps3.png", :alt => "ps3", :size => "60x60" %></td>
           <td width=148 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55 style="text-align:center"><u><b>EDYCJA WRZESIEŃ.11</b></u>
				<br>Nagrody zostaną zaprezentowane około 25 sierpnia. <a style="color:white" target="blank" href="http://pok3r.pl/help/support/">Zapraszamy sponsorów do współpracy!</a>
				</td></tr> 
             <tr><td height=8></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>

             <tr>
				<td bgcolor="#545454" style="padding-left: 5px; padding-right: 5px;"><span style="color:gray; font-size:11px; text-align:center;"><b style="color:white">&bull; ZAPROŚ SWOICH ZNAJOMYCH </b><br/>Dodamy Ci nawet do 10% stanu konta poleconego na koniec miesiąca! <a style="color:#ccff99" href="/zasady-gry/">Sprawdź!</a> </span></td>
			 </tr>
            </table>
           </td></tr>
          </table>
         </td>
         </tr>
         <tr><td height=9></td></tr>
         <tr><td colspan=3 align=center>

          <table cellspacing=0 cellpadding=0 width=467 align=center>
		   <tr><td height=3></td></tr>
		   <tr><td><script language="javascript" src="http://media.expekt.com/affiliates/ad.aspx?pid=46577&bid=3814"></script></td></tr>
		   <tr><td height=3></td></tr>
          </table>  
         </td></tr>
         <tr><td height=9></td></tr>
			
		<tr>
         <td width=248 valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name">POSTAW NA GOSPODARZA</a></td></tr>

           <tr><td colspan=2><a class="ml7"><%= @match_h[0]['game']['description'] %></a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr><td width=67 style="padding-left: 4px"><%= image_tag "icons/football.png", :alt => "football", :size => "60x60" %></td>
           <td width=148 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55><u><b>Polecamy: Hit dnia</b></u><br>Czy <%= @match_h[0]['game']['first'] %> podoła wyzwaniu i pokona na własnym terenie odwiecznego rywala?<br></td></tr> 
             <tr><td height=8></td></tr>

             <tr><td class=ch12><a onclick="add_match(1, <%= @match_h[0]['game']['id'] %>, '<%= (@match_h[0]['game']['description'].strip).gsub(' ', '%20') %>', <%= @match_h[0]['game']['alt1'] %>)"><%= @match_h[0]['game']['first'] %> <span class=ch13><%= @match_h[0]['game']['alt1'] %></span></a></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>

             <tr>
			 <td style="padding-left: 5px; padding-right: 5px;"><a onclick="add_match(0, <%= @match_h[0]['game']['id'] %>, '<%= (@match_h[0]['game']['description'].strip).gsub(' ', '%20') %>', <%= @match_h[0]['game']['altx'] %>)">Remis: <%= @match_h[0]['game']['altx'] %></a></td>
             <td bgcolor=#585858 width=1 height=23></td>
             <td style="padding-left: 5px; padding-right: 5px;"><a onclick="add_match(2, <%= @match_h[0]['game']['id'] %>, '<%= (@match_h[0]['game']['description'].strip).gsub(' ', '%20') %>', <%= @match_h[0]['game']['alt2'] %>)"><%= @match_h[0]['game']['second'] %>: <%= @match_h[0]['game']['alt2'] %></td>
			 </tr>
            </table>
           </td></tr>
          </table>
         </td>
        <td width=1 bgcolor=#585858></td>
         <td width=248 valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name">POSTAW NA DRUŻYNĘ GOŚCI</a></td></tr>

           <tr><td colspan=2><a class="ml7"><%= @match_h[1]['game']['description'] %></a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr><td width=67 style="padding-left: 4px"><%= image_tag "icons/basketball.png", :alt => "basketball", :size => "60x60" %></td>
           <td width=148 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55><u><b>Polecamy: Kurs dnia</b></u><br>Gra na obcym terenie stanowi dodatkową trudność w osiągnięciu pozytywnego rezultatu. Czy gościom dopisze dziś szczęscie?</td></tr> 
             <tr><td height=8></td></tr>
             <tr><td class=ch12><a onclick="add_match(2, <%= @match_h[1]['game']['id'] %>, '<%= (@match_h[1]['game']['description'].strip).gsub(' ', '%20') %>', <%= @match_h[1]['game']['alt2'] %>)"><%= @match_h[1]['game']['second'] %>: <span class=ch13><%= @match_h[1]['game']['alt2'] %></span></a></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>
             <tr>
				<td style="padding-left: 5px; padding-right: 5px;"><img src="images/info.png" width="9" height="9"><a onclick="add_match(1, <%= @match_h[1]['game']['id'] %>, '<%= (@match_h[1]['game']['description'].strip).gsub(' ', '%20') %>', <%= @match_h[1]['game']['alt1'] %>)"> lub postaw na <%= @match_h[1]['game']['first'] %>: <%= @match_h[1]['game']['alt1'] %> </a></td>

			</tr>
            </table>
           </td></tr>
          </table>

		  </td>
        
         </tr>
          </table>
         </td>
        
         </tr>
         <tr><td height="9px">
		 </td></tr>
         <tr><td colspan=3 align=center>

          <table cellspacing=0 cellpadding=0 width=467 align=center>
           <tr><td bgcolor=#525252 height=1></td></tr>
          </table>  
         </td></tr>

	  <tr><td height=9></td></tr>
         <tr>

           
         </tr>
        </table> 

       <!-- new_products_eof //-->

       </td></tr>
      </table>
	  <table cellspacing=0 cellpadding=0>
       <tr><td height=2></td></tr>
       <tr><td style="padding-left:20px;">
		</span>
	   </td></tr> 
	   <tr><td height="10px"></td></tr>
	   
	   <tr><td>
			<div id="kuponik"></div>
	   </td></tr>
	   <tr height="10px"></tr>
	   <tr><td style="text-align:center"><%= image_tag "banners/ladbrokes.gif" %></td></tr>
      </table>
         </td>
       </tr>

    </table>
    </td>

<!-- body_text_eof //-->
  </tr>
</table>
</div>
<!-- body_eof //-->

<!-- footer //-->



     </td></tr>  
    </table> 
   </td></tr>   
   <tr><td valign=bottom>
	<center>
    <table cellspacing=0 cellpadding=0>
     <tr><td height=8></td></tr>
     <tr><td width=230 align=center valign=top>
      <table cellspacing=0 cellpadding=0 width=230>
       <tr><td bgcolor=#565656 height=5></td></tr>
       <tr><td height=9></td></tr>
       <tr><td align=center> 
			<img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif">
			<img src="images/xhtml.gif">
	  </td></tr>
      </table>
     </td>

     <td width=3></td>
     <td width=518 valign=top>
      <table cellspacing=0 cellpadding=0 width=518>
       <tr><td bgcolor=#3D3D3D height=5></td></tr> 
       <tr><td height=12></td></tr>
       <tr><td class=ch16 align=right>Copyright &copy; 2010 pok3r.pl | Uczestników: 126 |
	   
	   <span style="padding-left: 5px"></span> <a href="/zasady-gry/" class=ml8>Regulamin Konkursu</a> <span class=ml8> <span style="padding-left: 3px"></span>|<span style="padding-left: 3px"></span> </span> <a href="'.$link.'/regulamin/" class=ml8>Warunki użytkowania</a> <span style="padding-left: 8px"></span></td></tr>

      </table> 
     </td></tr>  
     <tr><td height=25></td></tr>
    </table> 
   </td></tr>   
  </table>

<!-- footer_eof //-->

