<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
</head>
<body marginwidth="0" marginheight="0" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
<!-- header //-->
<center>
  <table cellspacing=0 cellpadding=0 width=750 height=1000px align=center>
   <tr><td valign=top>
    <table cellspacing=0 cellpadding=0>
     <tr><td width="232px"><%= link_to (image_tag "logobi.png", :alt => "logo"), root_path %></td>
	 <td width=518 valign=top>
      <table cellspacing=0 cellpadding=0>
       <tr><td height=25></td></tr>
        <tr><td class=ml1><span style="padding-left: 47px"></span><%= link_to "Strona główna", root_path %><span class=ch1></span>::<span class=ch1></span><a href="/wyniki-na-zywo/">Wyniki na żywo</a><span class=ch1></span>::<span class=ch1></span><a href="/wyniki/">Rezultaty zdarzeń</a><span class=ch1></span>::
	   
	    <!-- <span class=ch1></span><a style="color:#FFFFFF;" href="'.$link.'/wyloguj/">Wyloguj '.mysql_result($user_query,0,"imie").'!</a><span class=ch1></span>'; -->
	    <span class=ch1></span>
		<%= link_to "Rejestracja", new_account_path %>
		<span class=ch1></span>::<span class=ch1></span>
		<%= link_to "Login", login_path %>
	   </td></tr>

       <tr><td height=27></td></tr>
       <tr><td>
        <table cellspacing=0 cellpadding=0>
         <tr><td width=518 valign=top><div style="text-align:right"><script language="javascript" src="http://media.expekt.com/affiliates/ad.aspx?pid=46577&bid=6840"></script></div></td></tr>
        </table>  
       </td></tr>
      </table>
     </td></tr>
     <tr><td width=232 valign=top>
      <table cellspacing=0 cellpadding=0>
		<tr><td >
        <table cellspacing=0 cellpadding=0 width=240 height=92>
         <tr><td width=88 valign="middle"><%= image_tag "icons/arrow.png", :alt => "arrow", :size => "75x75" %></td>
		 <td valign="middle"><span class=ch4><b>Twoje statystyki</b></span><br>
		 <!-- <span class="ch5">
			Opcja dostępna dla zalogowanych użytkowników. Zapraszamy do <a href="'.$link.'/rejestracja/">rejestracji</a> i <a href="'.$link.'/logowanie/">logowania</a>!
		 </span> -->
		<span class="ch5">&bull; Stan konta: </span> <span class=ml3>100 &euro;</span><br>
		<span class="ch5">&bull; W trakcie: </span> <span class=ml3>20 &euro;</span><br>
		<span class="ch5">&bull; Skuteczność: </span> <span class=ml3>75%</span><br>
		<span class="ch5">&bull; Aktualna pozycja: </span> <span class=ml3>14</span><br>
		<span style="font-size: 10px; color:orange"><%= link_to "Historia zdarzeń", "account/historia-zakladow/" %></span>
		</td>
		</tr>
        </table> 
       </td></tr>
		<tr><td >
        <table cellspacing=0 cellpadding=0 width=230 height=92>
         <tr><td width=88 valign="middle"><%= image_tag "icons/arrow.png", :alt => "arrow", :size => "75x75" %></td>
         <td valign="middle"><span class=ch4><b>Koszyk zakładów</b></span><br>
			<span class="ch5">Twój kupon zawiera <span style="font-size: 10px; color:orange">5</span> zakład/y/ów</span><br>
		<span style="font-size: 10px; color:orange"><%= link_to "Przejdź do kuponu", "account/kupon/" %></span>
		</td></tr>

        </table> 
       </td></tr>
       <tr><td >
        <table cellspacing=0 cellpadding=0 width=230 height=92>
         <tr><td width=88 valign=middle><%= image_tag "icons/arrow.png", :alt => "arrow", :size => "75x75" %></td>
         <td valign="middle"><span class=ch4><b>TOP 5</b></span><br>
			<span class="ch5">Gracz 1</span> <span class=ml3> 5000 &euro;</span><br>
			<span class="ch5">Gracz 1</span> <span class=ml3> 5000 &euro;</span><br>
			<span class="ch5">Gracz 1</span> <span class=ml3> 5000 &euro;</span><br>
			<span class="ch5">Gracz 1</span> <span class=ml3> 5000 &euro;</span><br>
			<span class="ch5">Gracz 1</span> <span class=ml3> 5000 &euro;</span><br>
			<span style="font-size: 10px; color:orange"><a href="/klasyfikacja/">Pełna klasyfikacja</a></span>
		</td></tr>
        </table> 
       </td></tr>
	   <tr style="width:2px"><td>&nbsp;</td></tr>
      </table>
     </td>
     <td width=518 style="background-image:url(../images/stadium.jpg);" valign=top>
		<p class="ch18"><b>NAJBLIŻSZE ZAKŁADY</b></p>
		<p style="text-align:left;">
		<!-- start -->
			<table style="margin-left:15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17">11:24</span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a class="podpowiedz">Real - Barca<span>Piłka nożna, Primera Division, 1X2</span></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=1">1.1</a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=x">1.2</a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=2">1.3</a></span>
						</div>
					</td>
				</tr>			
			</table>
			<table style="margin-left:15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17">11:24</span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a class="podpowiedz">Real - Barca<span>Piłka nożna, Primera Division, 1X2</span></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=1">1.1</a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=x">1.2</a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=2">1.3</a></span>
						</div>
					</td>
				</tr>			
			</table>
			<table style="margin-left: 15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17">11:24</span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a class="podpowiedz">Real - Barca<span>Piłka nożna, Primera Division, 1X2</span></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=1">1.1</a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=x">1.2</a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=2">1.3</a></span>
						</div>
					</td>
				</tr>			
			</table>
			<table style="margin-left: 15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17">11:24</span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a class="podpowiedz">Real - Barca<span>Piłka nożna, Primera Division, 1X2</span></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=1">1.1</a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=x">1.2</a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=2">1.3</a></span>
						</div>
					</td>
				</tr>			
			</table>
			<table style="margin-left:15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17">11:24</span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a class="podpowiedz">Real - Barca<span>Piłka nożna, Primera Division, 1X2</span></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=1">1.1</a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=x">1.2</a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=2">1.3</a></span>
						</div>
					</td>
				</tr>			
			</table>
			<table style="margin-left:15px">
				<tr>
					<td>
						<div id="ten1" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten1')" onmouseout="mouseOut('ten1')">
							<span class="ch17">11:24</span>
						</div>
					</td>
					<td>
						<div id="ten2" class="trans_box2" style="float:left; width:300px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten2')" onmouseout="mouseOut('ten2')">
							<div class="ch17"><a class="podpowiedz">Real - Barca<span>Piłka nożna, Primera Division, 1X2</span></a></div>
						</div>
					</td>
					<td>
						<div id="ten3" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten3')" onmouseout="mouseOut('ten3')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=1">1.1</a></span>
						</div>
					</td>
					<td>
						<div id="ten4" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten4')" onmouseout="mouseOut('ten4')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=x">1.2</a></span>
						</div>
					</td>
					<td>
						<div id="ten5" class="trans_box2" style="float:left; width:26px; height:12px; padding:5px; font-color:red" onmouseover="mouseOver('ten5')" onmouseout="mouseOut('ten5')">
							<span class="ch17"><a href="kupon/_akcja=dodaj&kursid='.mysql_result($query2,$i,"id").'&typ=2">1.3</a></span>
						</div>
					</td>
				</tr>			
			</table>
			<!-- koniec -->
		</p>
	 </td></tr>
     
    </table> 
   </td></tr>   
   <tr><td height=100% valign=top>
    <table cellspacing=0 cellpadding=0 width=750>  
     <tr><td width=230 style="padding-right: 3px" valign=top>

      <table cellspacing=0 cellpadding=0 width=240>
       <tr><td bgcolor=#B35A00 height=28><span style="padding-left: 19px"></span><span class=ch6>Kategorie zakładów</span></td></tr>
       <tr><td bgcolor=#282828 style="padding-left: 3px; padding-top: 3px;">
	   <script language="javascript" src="http://media.expekt.com/affiliates/ad.aspx?pid=46577&bid=6537"></script>
       </td></tr>
	   <tr><td bgcolor=#282828 style="padding-left: 30px"> 
		<table cellspacing=0 cellpadding=0>
         <tr><td height=7></td></tr>
		 <tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
		 
			<!-- Kategorie lewo start -->
			<tr><td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
			<td width=1 bgcolor=#525252></td>
			<td width=160><span class=ch7></span><a href="/betting/_dyscyplina='.mysql_result($query_kategorie,$i).'" class="ml4">Piłka nożna</a></td>
			</tr>
			
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<span style="display:none">
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska Ekstraklasa</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Spa Primera Division</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Eng Premiership</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska 1. Liga</a></td></tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			
			<tr><td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
			<td width=1 bgcolor=#525252></td>
			<td width=160><span class=ch7></span><a href="/betting/_dyscyplina='.mysql_result($query_kategorie,$i).'" class="ml4">Piłka nożna</a></td>
			</tr>
			
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<span style="display:none">
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska Ekstraklasa</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Spa Primera Division</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Eng Premiership</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska 1. Liga</a></td></tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			
			<tr><td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
			<td width=1 bgcolor=#525252></td>
			<td width=160><span class=ch7></span><a href="/betting/_dyscyplina='.mysql_result($query_kategorie,$i).'" class="ml4">Piłka nożna</a></td>
			</tr>
			
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<span style="display:none">
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska Ekstraklasa</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Spa Primera Division</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Eng Premiership</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska 1. Liga</a></td></tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			
			<tr><td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
			<td width=1 bgcolor=#525252></td>
			<td width=160><span class=ch7></span><a href="/betting/_dyscyplina='.mysql_result($query_kategorie,$i).'" class="ml4">Piłka nożna</a></td>
			</tr>
			
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<span style="display:none">
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska Ekstraklasa</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Spa Primera Division</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Eng Premiership</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska 1. Liga</a></td></tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			
			<tr><td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
			<td width=1 bgcolor=#525252></td>
			<td width=160><span class=ch7></span><a href="/betting/_dyscyplina='.mysql_result($query_kategorie,$i).'" class="ml4">Piłka nożna</a></td>
			</tr>
			
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<span style="display:none">
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska Ekstraklasa</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Spa Primera Division</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Eng Premiership</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska 1. Liga</a></td></tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			
			<tr><td width=20 height=20 align=center><%= image_tag "gif/m11.gif", :alt => "m11", :size => "3x5", :align => "absmiddle" %></td>
			<td width=1 bgcolor=#525252></td>
			<td width=160><span class=ch7></span><a href="/betting/_dyscyplina='.mysql_result($query_kategorie,$i).'" class="ml4">Piłka nożna</a></td>
			</tr>
			
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<span style="display:none">
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska Ekstraklasa</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Spa Primera Division</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Eng Premiership</a></td></tr>
				<tr><td></td><td width=1 bgcolor=#525252></td><td style="padding-left:10px"><a href="#">&bull; Polska 1. Liga</a></td></tr>
			<tr><td bgcolor=#525252 colspan=3 height=1></td></tr>
			<!-- Kategorie lewo koniec -->
			
         <tr><td height=16></td></tr>
        </table>  
       </td></tr>
       <tr><td height=3></td></tr>
       <tr><td bgcolor=#750E00 height=28 width="400px">
			<span style="padding-left: 19px"></span>
			<form method="POST" action="/szukaj/"><input type="text" size="30" name="fraza" value="Szukaj zakładu (podaj drużynę)"></form>
		</td></tr>
      </table> 
     </td>
     <td width=518 valign=top>
	 
<!-- header_eof //-->

<!-- body //-->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
<!-- body_text //-->


    <td width="100%" valign="top"><table border="0" width="100%" cellspacing="0" cellpadding="0">
      <tr>

        <td>



      <table cellspacing=0 cellpadding=0 style="margin-left:15px" width=518>
      <tr><td width=518 bgcolor=#595736 height=28><span style="padding-left: 20px"></span><span class=ch11>AKTUALNOŚCI</span></td></tr>
      <tr><td height=15></td></tr>
	  </table>
	  <table cellspacing=0 cellpadding=0 width=528>
       <tr>



     <!-- new_products //-->
		<td width=248 style="margin-left:10px" valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name"> KIM JESTEŚMY?</a></td></tr>

           <tr><td colspan=2><a class="ml7">Zasady gry po krótce</a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr>
           <td width=215 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55>Witamy i oferujemy Państwu <strong>darmową</strong> zabawę w typowanie wyników meczy. Cel gry jest prosty - wystarczy zwielokrotnić wirtualne 5000&euro; otrzymane od nas przy rejestracji. Pod koniec każdego miesiąca osoby z największym stanem konta zostaną nagrodzone! <a href="'.$link.'/rejestracja/"><span style="color:white">Zapraszamy do rejestracji</span></a></td></tr> 
             <tr><td height=8></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>

             <tr>
				<td style="padding-left: 5px; padding-right: 5px;"><span class="ch19"><%= image_tag "icons/info.png", :alt => "info", :size => "9x9" %><a href="/zasady-gry/"> Poznaj też: Szczegółowe zasady gry </a></span></td>
			 </tr>
            </table>
           </td></tr>
          </table>
         </td>
        <td width=1 bgcolor=#585858></td>

         <td width=248 valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name">CO ZYSKUJESZ?</a></td></tr>

           <tr><td colspan=2><a class="ml7"> Nagrody tej edycji konkursu</a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr><td width=67 style="padding-left: 4px"><%= image_tag "icons/ps3.png", :alt => "ps3", :size => "60x60" %></td>
           <td width=148 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55 style="text-align:center"><u><b>EDYCJA WRZESIEŃ.11</b></u>
				<br>Nagrody zostaną zaprezentowane około 25 sierpnia. <a style="color:white" target="blank" href="http://pok3r.pl/help/support/">Zapraszamy sponsorów do współpracy!</a>
				</td></tr> 
             <tr><td height=8></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>

             <tr>
				<td bgcolor="#545454" style="padding-left: 5px; padding-right: 5px;"><span style="color:gray; font-size:11px; text-align:center;"><b style="color:white">&bull; ZAPROŚ SWOICH ZNAJOMYCH </b><br/>Dodamy Ci nawet do 10% stanu konta poleconego na koniec miesiąca! <a style="color:#ccff99" href="/zasady-gry/">Sprawdź!</a> </span></td>
			 </tr>
            </table>
           </td></tr>
          </table>
         </td>
         </tr>
         <tr><td height=9></td></tr>
         <tr><td colspan=3 align=center>

          <table cellspacing=0 cellpadding=0 width=467 align=center>
		   <tr><td height=3></td></tr>
		   <tr><td><script language="javascript" src="http://media.expekt.com/affiliates/ad.aspx?pid=46577&bid=3814"></script></td></tr>
		   <tr><td height=3></td></tr>
          </table>  
         </td></tr>
         <tr><td height=9></td></tr>
			
		<tr>
         <td width=248 valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name">PIŁKA NOŻNA</a></td></tr>

           <tr><td colspan=2><a class="ml7">POLSKA EKSTRAKLASA</a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr><td width=67 style="padding-left: 4px"><%= image_tag "icons/football.png", :alt => "football", :size => "60x60" %></td>
           <td width=148 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55><u><b>Polecamy: Hit dnia</b></u><br>Czy Śląsk Wrocław podoła wyzwaniu i pokona faworyzowanego przez bukmacherów rywala?<br></td></tr> 
             <tr><td height=8></td></tr>

             <tr><td class=ch12><a href="kupon/_akcja=dodaj&kursid='.$rand_id.'&typ='.$rand_x.'">Śląsk: <span class=ch13>1234.5</span></a></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>

             <tr>
			 <td style="padding-left: 5px; padding-right: 5px;"><a href="kupon/_akcja=dodaj&kursid='.$rand_id.'&typ=x">Remis: 1.12</a></td>
             <td bgcolor=#585858 width=1 height=23></td>
             <td style="padding-left: 5px; padding-right: 5px;"><a href="kupon/_akcja=dodaj&kursid='.$rand_id.'&typ='.$rand_y.'">Wisła: 1.14</td>
			 </tr>
            </table>
           </td></tr>
          </table>
         </td>
        <td width=1 bgcolor=#585858></td>
         <td width=248 valign=top>
          <table cellspacing=0 cellpadding=0 width=219 align=center>
           <tr><td colspan=2><a class="pr_name">SIATKÓWKA</a></td></tr>

           <tr><td colspan=2><a class="ml7">PLUS LIGA KOBIET</a></td></tr>
           <tr><td height=10></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=10></td></tr>
           <tr><td width=67 style="padding-left: 4px"><%= image_tag "icons/basketball.png", :alt => "basketball", :size => "60x60" %></td>
           <td width=148 valign=top>
            <table cellspacing=0 cellpadding=0>
             <tr><td height=55><u><b>Polecamy: Kurs dnia</b></u><br>W zwycięstwo tej drużyny bukmacherzy nie wierzą. Czy dopisze jej szczęscie? Zwielokrotnij swój stan &euro;!</td></tr> 
             <tr><td height=8></td></tr>
             <tr><td class=ch12><a href="kupon/_akcja=dodaj&kursid=">BKS Bielsko Biała: <span class=ch13>1.34!</span></a></td></tr>
            </table>
           </td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2 background="../images/gif/m15.gif" height=1></td></tr>
           <tr><td height=6></td></tr>
           <tr><td colspan=2>
            <table cellspacing=0 cellpadding=0>
             <tr>
				<td style="padding-left: 5px; padding-right: 5px;"><span class="ch19"><a class="podpowiedz"><img src="images/info.png" width="9" height="9"><span>23.03.1999 12:34 Arka Gdynia Ekstraklasa</span></a><a href="kupon/_akcja=dodaj&kursid='.mysql_result($maxKurs_index[1],0,"id").'&typ='.$maxKurs_i.'"> Postaw też: Legia 1.45 VS Lech </a></span></td>

			</tr>
            </table>
           </td></tr>
          </table>

		  </td>
        
         </tr>
          </table>
         </td>
        
         </tr>
         <tr><td height="9px">
		 </td></tr>
         <tr><td colspan=3 align=center>

          <table cellspacing=0 cellpadding=0 width=467 align=center>
           <tr><td bgcolor=#525252 height=1></td></tr>
          </table>  
         </td></tr>

	  <tr><td height=9></td></tr>
         <tr>

           
         </tr>
        </table> 

       <!-- new_products_eof //-->

       </td></tr>
      </table>
	  <table cellspacing=0 cellpadding=0>
       <tr><td height=2></td></tr>
       <tr><td style="padding-left:20px;">
		</span>
	   </td></tr> 
	   <tr><td height="10px"></td></tr>
	   
	   <tr><td>
			<table width="520px" style="border:1px solid #0000AA; margin:5px;">
					
				<tr bgcolor="#525252"><td height="15"><b>OSTATNIE WIEŚCI Z SHOUTBOX'A</b></td>
					<td width="120" rowspan="7" style="padding:5px">
						<form id="shout" action="/" method="POST" onsubmit = "enter();" >
							<textarea name="shout_area" id="areaa" style="border:1px solid #0000AA; background-color: #00427B; color:#FFFFFF;" rows="4">Dodaj nowy wpis!</textarea>
							<span style="text-align:center"><input type="button" onclick = "enterek();" style="font-family: tahoma; font-size: 10pt; border: 1px solid #0000AA; background-color: #00427B; color:#FFFFFF;" value="Dodaj!"><input type="button" onclick="czysciciel();" style="font-family: tahoma; font-size: 10pt; border: 1px solid #0000AA; background-color: #00427B; color:#FFFFFF;" type="submit" value="Czyść"></span><br>
						</form>
					</td>
				</tr>
					<tr bgcolor="#00538C"><td height="15" style="margin-left:10px"><span style="color:white"><b>11:12 Jacek Placek said: Próbny wpis!</span></td></tr>
					<tr bgcolor="#336699"><td height="15" style="margin-left:10px"><span style="color:white"><b>11:12 Jacek Placek said: Próbny wpis!</span></td></tr>
					<tr bgcolor="#00538C"><td height="15" style="margin-left:10px"><span style="color:white"><b>11:12 Jacek Placek said: Próbny wpis!</span></td></tr>
					<tr bgcolor="#336699"><td height="15" style="margin-left:10px"><span style="color:white"><b>11:12 Jacek Placek said: Próbny wpis!</span></td></tr>
			</table>
	   </td></tr>
	   <tr height="10px"></tr>
	   <tr><td style="text-align:center"><%= image_tag "banners/ladbrokes.gif" %></td></tr>
      </table>
         </td>
       </tr>

    </table>
    </td>

<!-- body_text_eof //-->
  </tr>
</table>
<!-- body_eof //-->

<!-- footer //-->



     </td></tr>  
    </table> 
   </td></tr>   
   <tr><td valign=bottom>
	<center>
    <table cellspacing=0 cellpadding=0>
     <tr><td height=8></td></tr>
     <tr><td width=230 align=center valign=top>
      <table cellspacing=0 cellpadding=0 width=230>
       <tr><td bgcolor=#565656 height=5></td></tr>
       <tr><td height=9></td></tr>
       <tr><td align=center> 
			<img src="http://s7.addthis.com/static/btn/v2/lg-share-en.gif">
			<img src="images/xhtml.gif">
	  </td></tr>
      </table>
     </td>

     <td width=3></td>
     <td width=518 valign=top>
      <table cellspacing=0 cellpadding=0 width=518>
       <tr><td bgcolor=#3D3D3D height=5></td></tr> 
       <tr><td height=12></td></tr>
       <tr><td class=ch16 align=right>Copyright &copy; 2010 pok3r.pl | Uczestników: 126 |
	   
	   <span style="padding-left: 5px"></span> <a href="/zasady-gry/" class=ml8>Regulamin Konkursu</a> <span class=ml8> <span style="padding-left: 3px"></span>|<span style="padding-left: 3px"></span> </span> <a href="'.$link.'/regulamin/" class=ml8>Warunki użytkowania</a> <span style="padding-left: 8px"></span></td></tr>

      </table> 
     </td></tr>  
     <tr><td height=25></td></tr>
    </table> 
   </td></tr>   
  </table>



<!-- footer_eof //-->
</body>
</html>
